{% extends "base.html" %}

{% block title %}Telco Konrad API{% endblock %}

{% block content %}
<h1 class="text-center">Telco Konrad API</h1>
<p class="text-center">Select an API to interact with:</p>
<ul class="list-group">
    <li class="list-group-item">
        <a href="/validate_identity" class="btn btn-link">Validate Identity</a>
    </li>
    <li class="list-group-item">
        <a href="/enrollment" class="btn btn-link">Enrollment</a>
    </li>
    <li class="list-group-item">
        <a href="/document_management" class="btn btn-link">Document Management</a>
    </li>
    <li class="list-group-item">
        <a href="/digital_contracts" class="btn btn-link">Digital Contracts</a>
    </li>
    <li class="list-group-item">
        <a href="/request_status" class="btn btn-link">Request Status</a>
    </li>
</ul>
{% endblock %}